<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="" >
        {% csrf_token %}
        <label for="taskname">Task name</label>
        <input type="text" id="taskname" name="taskname">
        <label for="taskid">Task id</label>
        <input type="text" id="taskid" name="taskid">
        <label for="taskstatus">Task status</label>
        <input type="text" id="taskstatus" name="taskstatus">
        <button type="submit">Submit</button>
      </form>
</body>
</html>